.draggablesquare {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 120%;
  padding: 10px;
  position: absolute;
  z-index: 9;
  cursor: move;
  background-color: #c4c4c4;
  text-align: center;
  color: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rectangle {
  padding: 10px;
  position: absolute;
  z-index: 9;
  cursor: move;
  background-color: #006400a0;
  text-align: center;
}
